{% extends "blog/base.html" %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}
<div class="container">
    <form method="post">
    {% csrf_token %}
    {{ form }}
    <button class="btn waves-effect waves-light" type="submit">Sign Up</button>
    </form>
</div>
<a href='{% provider_login_url "facebook" method="oauth2" %}' class="btn btn-block btn-social btn-facebook" style="background-color:#3b5998;text-align:center;">
  <span class="fa fa-facebook"></span>
    Sign in with Facebook
 </a>
{% endblock %}
