<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/categories.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <title>ToWaves</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">
          <img style="width: 119.73; height:49.5px;" src="{% static 'img/Group 264@2x.png' %}"> </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span style="background-color: black;" class="icon-bar"></span>
          <span style="background-color: black;" class="icon-bar"></span>
          <span style="background-color: black;" class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a style="border-right: 1px solid black;" href="#">Create Event</a></li>
          <li><a style="color: black;" href="./login.html">Login</a></li>
          <li><a style="color: black;" href="./signin.html">Sign Up</a></li>

        </ul>
      </div>
    </div>
  </nav>
  <div class="container cont">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 contact">
        <h4 class="display-3">Outdoor Activities</h4>
        <p class="parag">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, numquam. Obcaecati
          excepturi assumenda magnam odio.</p>
        <button class="btn1">Join Events</button>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="row">
      {%for event in events%}
      <div class="col-lg 3 col-md-3  col-sm-12 col-xs-12">
        <div class="card card-inverse card-primary text-center">
          <img class="card-img-top" src="{{event.img.url}}" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">{{event.name}}</h4>
            <p class="card-text">{{event.description}}</p>
            <br>
            <p class="outdoor">{{event.category.title }}</p>
            <p class='joined_count'> {{event.user.count}} joined </p>
            <a href="#"><img class="star" src="{% static 'img/A_Black_Star.png' %}"></a>
            <a class="btn btn-primary join-btn" data-id={{event.pk}}>Join</a>
          </div>
        </div>

      </div>
      {%endfor%}


    </div>

    <footer class="footer-distributed">

      <div class="footer-right">

        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>

        <a class="ins-ic">
          <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
        </a>

      </div>

      <div class="footer-left">

        <p class="footer-links">
          <a class="footer-elements" href="./index.html">Home</a>

          <a class="footer-elements" href="./categories.html">Events</a>

          <a class="footer-elements" href="./contact.html">Contact us</a>

          <a class="footer-elements" href="./about.html">About</a>

          <a class="footer-elements" href="#">English</a>

        </p>
        <hr style="background-color:white !important;">

        <p>Company Name &copy; 2019 by Towaves</p>
      </div>

    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{% static 'js/ajax.js' %}"></script>
    <script>
      window.smoothScroll = function (target) {
        var scrollContainer = target;
        do { //find scroll container
          scrollContainer = scrollContainer.parentNode;
          if (!scrollContainer) return;
          scrollContainer.scrollTop += 1;
        } while (scrollContainer.scrollTop == 0);

        var targetY = 0;
        do { //find the top of target relatively to the container
          if (target == scrollContainer) break;
          targetY += target.offsetTop;
        } while (target = target.offsetParent);

        scroll = function (c, a, b, i) {
          i++; if (i > 30) return;
          c.scrollTop = a + (b - a) / 30 * i;
          setTimeout(function () { scroll(c, a, b, i); }, 20);
        }
        // start scrolling
        scroll(scrollContainer, scrollContainer.scrollTop, targetY, 0);
      }
    </script>
</body>

</html>